Repository javafxports/openjdk-jfx, pull requests merged in 2019-04, with the labels that each got.

#416 JDK-8217942: Upgrade to libxslt 1.1.33
  modules/javafx.web/src/main/legal/libxslt.md
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/linux/config.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/linux/libexslt/exsltconfig.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/linux/libxslt/xsltwin32config.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/mac/config.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/configure.ac
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/Makefile.am
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/common.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/crypto.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/date.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/dynamic.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/exslt.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/exslt.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/exsltconfig.h.in
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/exsltexports.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/functions.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/libexslt.3
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/libexslt.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/math.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/saxon.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/sets.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libexslt/strings.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt.spec
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/attributes.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/extensions.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/extra.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/extra.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/functions.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/functions.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/imports.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/keys.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/numbers.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/pattern.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/preproc.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/transform.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/transform.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/variables.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/variables.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/xslt.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/xsltInternals.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/xsltconfig.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/xsltconfig.h.in
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/xsltexports.h
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/xsltutils.c
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/src/libxslt/xsltwin32config.h.in
  modules/javafx.web/src/main/native/Source/ThirdParty/libxslt/win32/config.h
Labels: 3rdparty-upgrade

#421 JDK-8218172: Upgrade to gradle 5.3
  build.gradle
  build.properties
  gradle/legal/gradle.md
  gradle/wrapper/gradle-wrapper.properties
Labels: 3rdparty-upgrade, build

#427 JDK-8214716: Record the versions of tools used to build FX in the repo
  build.gradle
  build.properties
Labels: build

#401 JDK-8220222: specify clearly gradle project dependencies
  build.gradle
Labels: bug, build

#395 [JDK-8220012] Sever reference to titled pane if accordion is empty.
  modules/javafx.controls/src/main/java/javafx/scene/control/skin/AccordionSkin.java
  tests/system/src/test/java/test/javafx/scene/control/AccordionTitlePaneLeakTest.java
Labels: bug

#429 JDK-8221941: Wrong package declaration for WCTextRunImpl.java in web module
  modules/javafx.web/src/main/java/com/sun/javafx/webkit/prism/WCFontImpl.java
  modules/javafx.web/src/main/java/com/sun/javafx/webkit/prism/WCTextRunImpl.java
Labels: build

#430 JDK-8221993: Create test to validate package declarations in source files
  build.gradle
Labels: build

#434 JDK-8222036: antlr generated files written to wrong location on Windows
  build.gradle
Labels: bug

#442 JDK-8221702: Use HTTPS to download all build dependencies
  build.gradle
Labels: bug, build

#431 JDK-8221987: javafx.graphics/javafx.stage.Window$TKBoundsConfigurator.apply (#408)
  modules/javafx.graphics/src/main/java/javafx/stage/Window.java
Labels: bug

#369 JDK-8217605: Add support for e-paper displays
  buildSrc/armv6hf.gradle
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/EPDFrameBuffer.java
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/EPDInputDeviceRegistry.java
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/EPDPlatform.java
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/EPDPlatformFactory.java
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/EPDScreen.java
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/EPDSettings.java
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/EPDSystem.java
  modules/javafx.graphics/src/main/java/com/sun/glass/ui/monocle/FramebufferY8.java
  modules/javafx.graphics/src/main/native-glass/monocle/epd/EPDSystem.c
  modules/javafx.graphics/src/shims/java/com/sun/glass/ui/monocle/EPDSettingsShim.java
  modules/javafx.graphics/src/shims/java/com/sun/glass/ui/monocle/FramebufferY8Shim.java
  modules/javafx.graphics/src/shims/java/com/sun/glass/ui/monocle/FramebufferY8SuperShim.java
  tests/system/src/test/java/test/com/sun/glass/ui/monocle/EPDSettingsTest.java
  tests/system/src/test/java/test/com/sun/glass/ui/monocle/FramebufferY8Test.java
Labels: enhancement

#438 Upgrade toolchains
  build.properties
Labels: 3rdparty-upgrade, build, toolchain-upgrade
